:root {
    --bgColor: rgb(35, 47, 57);
    --subbgColor: rgb(39, 35, 28);
    --headerbgColor: rgb(47, 31, 3);
    --textColor: rgb(221, 218, 218);
    --subtextColor: rgb(207, 207, 233);
}

body {
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* margin: 0px auto; */
    background: var(--bgColor);
    color: var(--textColor);
    font-size: 12px;
    font-family: Sans-Serif;
    width: 90%;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0px;
}

h2 {
    text-align: center;
}

.top {
    text-align: center;
}

.textInput {
    border-radius: 10px;
    border: 1px solid var(--subbgColor);
    background-color: var(--subbgColor);
    width: 45%;
}

textarea {
    border: 1px solid var(--subtextColor);
    background-color: var(--subbgColor);
    color: var(--subtextColor);
    width: 98.5%;
    height: 300px;
}

label:hover {
    text-decoration: underline;
    cursor: pointer;
}

.spacer {
    margin-left: 10px;
}

.viewType ,.sortOption{
    font-size: 16px;
    clear: both;
    text-align: center;
    padding: 1em;
}
.radioGroup {
    margin-bottom: 15px;
}

.radioGroup label {
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 5px;
}


#diffoutput {
    overflow-x: auto;
}

.outputCon {
    display: flex;
    justify-content: center;
}

.jsonView {
    border: 1px solid var(--subtextColor);
    width: 100%;
    height: 300px;
    background-color: var(--subbgColor);
    color: var(--subtextColor);
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    white-space: pre-wrap;
}

.key {
    color: #c0c0c0;
}

.string-key {
    color: #add8e6;
}

.string-value {
    color: #ffa07a;
}

.number {
    color: #87cefa;
}

.boolean {
    color: #ffd700;
}

.null {
    color: #ff00ff;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #8e8a8a;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ded9d9;
}

::-webkit-scrollbar-thumb:hover {
    background: #d8d1d1;
}
